body {
  font-family: sans-serif;
  background-color: #f7f7f9;
  margin: 0%;
  min-width: 320px;
}

ul {
  list-style: none;
}

p {
  font-size: 12px;
}

header {
  margin-left: 2%;
}

nav {
  padding-top: 20px;
}

.socail-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-link {
  color: white;
}

.social-list {
  position: fixed;
  display: flex;
  justify-content: end;
  gap: 20px;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(99, 98, 98);
}

.navbar {
  position: fixed;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.my-logo {
  display: flex;
  justify-content: start;
  color: #272a31;
  font-size: 20px;
  font-weight: bold;
}

.nav-link:hover {
  background-color: brown;
  color: white;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: 110%;
    top: 0;
    flex-direction: column;
    width: 100%;
    float: left;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    background-color: white;
    margin: 0;
    border-radius: 0;
    overflow: visible;
  }

  nav {
    padding: 0;
  }

  .navbar {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .nav-menu.active {
    left: 0;
    opacity: 0.96;
    align-items: flex-start;
    padding-bottom: 100%;
    padding-top: 100px;
  }

  .nav-item {
    margin: 20px 0;
    margin-top: 50px;
  }

  .nav-link {
    position: absolute;
    color: black;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
  }

  .hamburger {
    display: block;
    margin-right: 5%;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger.active .div {
    filter: blur(10px);
  }

  .social-list {
    display: none;
  }
}

.head {
  background-image: url(images/back-img.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 12% 12%;
}

.homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20%;
}

.welcome {
  color: #ec5242;
  font-family: 'lato', sans-serif;
  font-size: 24px;
  padding-bottom: 2%;
  padding-top: 10%;
}

.school {
  color: #ec5242;
  font-family: cocogoose, sans-serif;
  font-size: 40px;
  padding-bottom: 4%;
  font-weight: bold;
}

.intro {
  font-family: 'lato', sans-serif;
  color: #272a31;
  font-weight: lighter;
  font-style: italic;
  min-width: 50%;
  max-width: 60%;
  padding-bottom: 5%;
}

.soon {
  font-size: 30px;
  color: #ec5242;
  font-weight: bolder;
  padding-bottom: 20%;
}

/* Homepage above, Media quires has been added for responsive display */

.our-porgrams {
  background-color: #080808;
  padding: 2%;
}

.programs-title {
  color: #ec5242;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5%;
}

.porgram-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
}

.program-discrip {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.child {
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
}

.program-title {
  color: #ec5242;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.program-card {
  margin: 0 auto;
  width: auto;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  padding: 30px 10px 30px 10px;
  border: 3px solid #272a32;
  color: #d3d3d3;
  background-color: #3f3f3f;
}

.program-card-content {
  color: white;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .program-card {
    margin: 0 auto;
    width: auto;
    display: flex;
    justify-content: space-between;
  }

  .porgram-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .program-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 10px;
  }

  .program-title {
    display: flex;
  }

  .program-discrip {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .child {
    display: flex;
  }
}
